{% extends 'main/layout.html'%}

  {% block title%}
    <title>Название компании - Услуги</title>
  {% endblock %}

  {% block main%}
<main>

  <section class="py-5 container">
    <div class="row py-lg-5">
        <h1 class="fw-light">Услуги</h1>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    {% for obj in data%}
    <div class="container">
      <!-- -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            {% if obj.image %}
            <img src="{{ obj.image.url}}">
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{ obj.name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">{{ obj.cost }}</button>
                </div>
                <small class="text-body-secondary">За 1 м2</small>
              </div>
            </div>
          </div>
        </div>
        <!-- -->
      </div>
    </div>
    {% endfor %}
  </div>

</main>
  {% endblock %}
