{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title%}
  {% endblock %}
<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
  <div class="col-md-3 mb-2 mb-md-0">
    <a href="{% url 'home' %}" class="d-inline-flex link-body-emphasis text-decoration-none">
      <img src="{% static 'images/logo.png'%}" alt="Wooden Home" class="bi">
    </a>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="{% url 'home' %}" class="nav-link px-2">Главная</a></li>
    <li><a href="{% url 'services' %}" class="nav-link px-2">Услуги</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary me-2">Оставить заявку</button>
  </div>
</header>

  {% block main%}
  {% endblock %}

</body>
</html>