{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title%}
  {% endblock %}
<link href="{% static 'main//css/styles.css' %}" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="navbar">
  <a href="{% url 'home' %}"> Главная </a>
  <a href="{% url 'services' %}"> Услуги </a>
  <a href="mailto:alex-sh04@mail.ru" class="right"> Оставить заявку </a>
</div>

  {% block main%}
  {% endblock %}

<div class="footer">
  <div class="row">
    <div style="flex: 75%; padding-left: 10%;">
        <h2>Контакты</h2>
        <p> <b> Телефон: </b> <a href="tel:+79776022695"> +7 (977) 602 26-95 </a> </p>
        <p> <b> Email: </b> <a href="mailto:pelmen2@gmail.com"> pelmen2@gmail.com </a> </p>
    </div>
    <div style="flex: 25%" align="center">
        <div class="greenbutton"><a> Оставить заявку </a></div>
        <p> <small> Не получается дозвониться? Оставь заявку и мы перезвоним! </small> </p>
    </div>
  </div>
</div>

</body>
</html>
